
<div class="text-center">
  <h1>La réponse à ta question !!</h1>
</div>
<br>
<br>
<br>

<div class="text-center">
  <p>le question est : <%= @query %></p>

  <p>La reponse est: <%= @answer %></p>


  <%= link_to "Repose une question", toto_path %>
</div>