
<div class="text-center">
<h1>Pose ta question</h1>
</div>

<br>
<br>
<br>

<!-- <div class="form-group">
  <form action="/answer" method="GET">
    <input type="text" name="query">
    <button>Submit</button>
  </form>
</div> -->


<div class="container" style="width: 500px">
  <div class="row">
    <div class="col-md-6">
      <form action="/answer" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="query">
        </div>
      </div>
      <div class="col-md-6">
       <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>